*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body{
    background-color: #221414;
}

/* -----------header-------- */
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    background-color: #10e6e6d3;
    padding: 30px;
}
header .title{
    background-color: #f0f8ff5d;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
}
header .title h1{
    font-family: 'roboto', Arial;
    font-weight: 500;
    text-transform: capitalize;
    color: #faebd7;
    letter-spacing:0.2em;

}
header .title p{
    font-family: 'roboto', Arial;
    font-weight: 300;
    color: #faebd7;
    letter-spacing: 2px;

}


/* -----------hobbies ---------*/
main{
    width: 90%;
    height:auto;
    background-color: #e66464;
    margin: auto;
}
main section article{
    padding: 30px 25px;
    margin-top: -0px;
    
}
main article section h2{
    text-align: center;
    font-family: 'roboto', Arial;
    font-weight: 500;
    font-size: 30px;
    color: #faebd7;
    text-transform: capitalize;
    padding: 30px;
    letter-spacing: 2px;


}
/* ------card-------- */
.card{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    }
.boxeo, .ciclismo, .run{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #faebd7;
    
}
.boxeo p{
    text-transform:capitalize;
    font-family: 'roboto', Arial;
    font-weight:500;
    margin: 10px 0px;
}
.ciclismo p{
    text-transform:capitalize;
    font-family: 'roboto', Arial;
    font-weight:500;
    margin: 10px 0px;
}
.run p{
    text-transform:capitalize;
    font-family: 'roboto', Arial;
    font-weight:500;
    margin: 10px 0px;
}
.card img{
    width: 300px;
    height: 200px;
}
.boxeo:hover, .ciclismo:hover, .run:hover{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #faebd7;
    box-shadow: 6px 6px 15px rgb(0, 0, 0);
    
}
/* ------volver--------- */
.volver{
    width: 100%;
    margin: auto;
    text-align: center;
}

.volver article a{
    text-decoration: none;
    text-transform: capitalize;
    background-color: #faebd7;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 6px black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ---------footer----- */
footer{
    width: 90%;
    height: 70px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #c0a2a2;
}
footer h3{
    text-transform:capitalize;
    font-family: 'roboto', Arial;
    font-weight:500;
}
footer, .iconos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer, .iconos-footer img{
    padding-left: 30px;
    font-size: 20px;

}